This cell is used to download and set the library repo.

In [0]:
!git clone https://github.com/jlagosobando/clei23_lib_pyspark.git -b dev

This code allow using the library.

In [0]:
import sys
sys.path.append('/databricks/driver/clei23_lib_pyspark/bdsanalytics/') # Adding the library directory
import bdsanalytics as bds
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [0]:
spark = SparkSession.builder.getOrCreate()

# Load data

Select file option from [**here!**](https://github.com/jlagosobando/clei23_lib_pyspark/tree/dev/notebooks/csv)

In [0]:
filename = 'used_cars_data.csv'
df_cars = spark.read.csv('dbfs:/mnt/ctr01/csv/' + filename, header=True,inferSchema=True )

In [0]:
filename = 'cars_null.csv'
df_null = spark.read.csv('dbfs:/mnt/ctr01/csv/' + filename, header=True,inferSchema=True )
df_infer_cars = bds.inferSchema(df_null)

## Testing Imputación

In [0]:
df_limpio_cars = bds.imputacion(df_infer_cars , 'fuel' , 'moda')
display(df_limpio_cars.head(5))

_c0,brand,model,price (eur),engine,year,mileage (kms),fuel,gearbox,location
0,SEAT,Ibiza,8990,SC 1.2 TSI 90cv Style,2016,67000,Gasolina,Manual,Granollers
1,Hyundai,i30,null,1.6 CRDi 110cv Tecno,2014,104868,Diésel,Manual,Viladecans
2,BMW,Serie 5,13490,530d Touring,2011,137566,Diésel,Automatica,Viladecans
3,Volkswagen,Golf,24990,GTI 2.0 TSI 169kW (230CV),2018,44495,Gasolina,Manual,Viladecans
4,Opel,Corsa,10460,1.4 Expression 90 CV,2016,69800,Diésel,Manual,Sabadell 1

In [0]:
df_limpio_cars2 = bds.imputacion(df_infer_cars , 'price (eur)' , 'media')
display(df_limpio_cars2.head(5))

_c0,brand,model,price (eur),engine,year,mileage (kms),fuel,gearbox,location
0,SEAT,Ibiza,8990,SC 1.2 TSI 90cv Style,2016,67000,Gasolina,Manual,Granollers
1,Hyundai,i30,14990,1.6 CRDi 110cv Tecno,2014,104868,null,Manual,Viladecans
2,BMW,Serie 5,13490,530d Touring,2011,137566,-,Automatica,Viladecans
3,Volkswagen,Golf,24990,GTI 2.0 TSI 169kW (230CV),2018,44495,Gasolina,Manual,Viladecans
4,Opel,Corsa,10460,1.4 Expression 90 CV,2016,69800,\n,Manual,Sabadell 1

## Testing counting

In [0]:
columns = ['brand' , 'model']
df_count = bds.group_count(df_cars , columns)
display(df_count.head(5))

brand,model,t_count,sum__c0,avg__c0,sum_price (eur),avg_price (eur),sum_year,avg_year,sum_mileage (kms),avg_mileage (kms)
Hyundai,i20,2,844,422.0,25170,12585.0,4037,2018.5,70876,35438.0
Citroen,C4,5,2102,420.4,42950,8590.0,10070,2014.0,684234,136846.8
Kia,Ceed,11,5108,464.3636363636364,160990,14635.454545454546,22204,2018.5454545454545,628993,57181.181818181816
Hyundai,i30,6,1343,223.83333333333334,88410,14735.0,12102,2017.0,399143,66523.83333333333
Dacia,Logan,2,948,474.0,16980,8490.0,4031,2015.5,55340,27670.0

## Testing InferSchema

In [0]:
bds.inferSchema(df_cars)

## Testing Seguimiento

In [4]:
df_seguimiento1 = seguimiento(df_cars , 'year' , 'fuel' , 43)
df_seguimiento1.show()

+----+-----+--------+---+--------+------+-------------+--------------------+------------------------+--------------+-------------------+-------------------------+-----------------+-----------------+----------------------------+------------+------------+-----------------------+-----------------+-------------------+----------------------------+---------------+------------------+--------------------------+----------+
|year|Disel|Elctrico|GLP|Gasolina|Hbrido|var_neta_year|       var_porc_year|fuera_de_tolerancia_year|var_neta_Disel|     var_porc_Disel|fuera_de_tolerancia_Disel|var_neta_Elctrico|var_porc_Elctrico|fuera_de_tolerancia_Elctrico|var_neta_GLP|var_porc_GLP|fuera_de_tolerancia_GLP|var_neta_Gasolina|  var_porc_Gasolina|fuera_de_tolerancia_Gasolina|var_neta_Hbrido|   var_porc_Hbrido|fuera_de_tolerancia_Hbrido|tolerancia|
+----+-----+--------+---+--------+------+-------------+--------------------+------------------------+--------------+-------------------+-------------------------+-----------------+-----------------+----------------------------+------------+------------+-----------------------+-----------------+-------------------+----------------------------+---------------+------------------+--------------------------+----------+
|2004|    1|       0|  0|       0|     0|         null|                null|         dentro de rango|          null|               null|          dentro de rango|             null|             null|             dentro de rango|        null|        null|        dentro de rango|             null|               null|             dentro de rango|           null|              null|           dentro de rango|        43|
|2007|    1|       0|  0|       2|     0|            3| 0.14970059880239522|         dentro de rango|             0|                0.0|          dentro de rango|                0|              0.0|             dentro de rango|           0|         0.0|        dentro de rango|                2|                0.0|             dentro de rango|              0|               0.0|           dentro de rango|        43|
|2008|    1|       0|  0|       1|     0|            1| 0.04982561036372695|         dentro de rango|             0|                0.0|          dentro de rango|                0|              0.0|             dentro de rango|           0|         0.0|        dentro de rango|               -1|              -50.0|            *FUERA DE RANGO*|              0|               0.0|           dentro de rango|        43|
|2009|    1|       0|  0|       0|     0|            1|   0.049800796812749|         dentro de rango|             0|                0.0|          dentro de rango|                0|              0.0|             dentro de rango|           0|         0.0|        dentro de rango|               -1|             -100.0|            *FUERA DE RANGO*|              0|               0.0|           dentro de rango|        43|
|2010|    2|       0|  0|       1|     0|            1|0.049776007964161276|         dentro de rango|             1|              100.0|         *FUERA DE RANGO*|                0|              0.0|             dentro de rango|           0|         0.0|        dentro de rango|                1|                0.0|             dentro de rango|              0|               0.0|           dentro de rango|        43|
|2011|   18|       0|  0|       8|     1|            1| 0.04975124378109452|         dentro de rango|            16|              800.0|         *FUERA DE RANGO*|                0|              0.0|             dentro de rango|           0|         0.0|        dentro de rango|                7|              700.0|            *FUERA DE RANGO*|              1|               0.0|           dentro de rango|        43|
|2012|   18|       0|  0|       3|     0|            1| 0.04972650422675286|         dentro de rango|             0|                0.0|          dentro de rango|                0|              0.0|             dentro de rango|           0|         0.0|        dentro de rango|               -5|              -62.5|            *FUERA DE RANGO*|             -1|            -100.0|          *FUERA DE RANGO*|        43|
|2013|   30|       0|  0|       5|     0|            1|0.049701789264413515|         dentro de rango|            12|  66.66666666666666|         *FUERA DE RANGO*|                0|              0.0|             dentro de rango|           0|         0.0|        dentro de rango|                2|  66.66666666666666|            *FUERA DE RANGO*|              0|               0.0|           dentro de rango|        43|
|2014|   43|       0|  0|      14|     1|            1| 0.04967709885742673|         dentro de rango|            13| 43.333333333333336|         *FUERA DE RANGO*|                0|              0.0|             dentro de rango|           0|         0.0|        dentro de rango|                9|              180.0|            *FUERA DE RANGO*|              1|               0.0|           dentro de rango|        43|
|2015|   58|       0|  0|      37|     1|            1| 0.04965243296921549|         dentro de rango|            15| 34.883720930232556|          dentro de rango|                0|              0.0|             dentro de rango|           0|         0.0|        dentro de rango|               23| 164.28571428571428|            *FUERA DE RANGO*|              0|               0.0|           dentro de rango|        43|
|2016|   75|       1|  0|      42|     2|            1| 0.04962779156327543|         dentro de rango|            17| 29.310344827586203|          dentro de rango|                1|              0.0|             dentro de rango|           0|         0.0|        dentro de rango|                5| 13.513513513513514|             dentro de rango|              1|             100.0|          *FUERA DE RANGO*|        43|
|2017|   59|       0|  0|      63|     6|            1|  0.0496031746031746|         dentro de rango|           -16|-21.333333333333336|          dentro de rango|               -1|           -100.0|            *FUERA DE RANGO*|           0|         0.0|        dentro de rango|               21|               50.0|            *FUERA DE RANGO*|              4|             200.0|          *FUERA DE RANGO*|        43|
|2018|   46|       2|  4|      86|    14|            1| 0.04957858205255329|         dentro de rango|           -13|-22.033898305084744|          dentro de rango|                2|              0.0|             dentro de rango|           4|         0.0|        dentro de rango|               23| 36.507936507936506|             dentro de rango|              8|133.33333333333331|          *FUERA DE RANGO*|        43|
|2019|   14|       0|  0|      77|     3|            1|0.049554013875123884|         dentro de rango|           -32| -69.56521739130434|         *FUERA DE RANGO*|               -2|           -100.0|            *FUERA DE RANGO*|          -4|      -100.0|       *FUERA DE RANGO*|               -9|-10.465116279069768|             dentro de rango|            -11|-78.57142857142857|          *FUERA DE RANGO*|        43|
|2020|    4|       0|  0|      23|     6|            1| 0.04952947003467063|         dentro de rango|           -10| -71.42857142857143|         *FUERA DE RANGO*|                0|              0.0|             dentro de rango|           0|         0.0|        dentro de rango|              -54| -70.12987012987013|            *FUERA DE RANGO*|              3|             100.0|          *FUERA DE RANGO*|        43|
|2021|    6|       0|  0|      11|     1|            1| 0.04950495049504951|         dentro de rango|             2|               50.0|         *FUERA DE RANGO*|                0|              0.0|             dentro de rango|           0|         0.0|        dentro de rango|              -12| -52.17391304347826|            *FUERA DE RANGO*|             -5|-83.33333333333334|          *FUERA DE RANGO*|        43|
+----+-----+--------+---+--------+------+-------------+--------------------+------------------------+--------------+-------------------+-------------------------+-----------------+-----------------+----------------------------+------------+------------+-----------------------+-----------------+-------------------+----------------------------+---------------+------------------+--------------------------+----------+

## Testing Summary

In [0]:
df_sumary1 = bds.sumary(df_null)