# count_group
Notebook con ejemplos de uso de la funcion count_group

## Importanciones necesarias 
Nota: estas importaciones son necesarias para este notebook, si quiere ver las importaciones necesarias para la función específica vaya al archivo original [count_group](../features/conteo.py)

In [7]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql.dataframe import DataFrame
spark = SparkSession.builder.getOrCreate()

## dataframes y validaciones
Estos son dataframes de testeo obtenido de internet. 
Las validaciones son una pieza importante de la parte técnica de la librería. Para más detalle vea las [validaciones](../validaciones/validaciones.py)

In [10]:

df_cars = spark.read.csv('csv/used_cars_data.csv' , header=True,inferSchema=True )
df_countries = spark.read.csv('csv/countries.csv' ,header= True ,inferSchema=True )
df_dates = spark.read.csv('csv/US_Holiday_Dates_(2004-2021).csv' , header=True,inferSchema=True )
df_cop = spark.read.csv('csv/eurocup_2020_results.csv', header= True,inferSchema=True)
df_test = spark.read.csv('csv/Countries_usefulFeatures.csv' , header= True ,inferSchema=True)
df_ernigs = spark.read.csv('csv/all_earnings_dates.csv' , header= True ,inferSchema=True)
df_null = spark.read.csv('csv/cars_null.csv' , header= True  ,inferSchema=True)
df_seph = spark.read.csv('csv/sephora_website_dataset.csv', header= True,inferSchema=True)
df_tw = spark.read.csv('csv/most_followed_twitter.csv' , header= True ,inferSchema=True)
df_airlines = spark.read.csv('csv/airlines.csv' , header= True ,inferSchema=True)

def is_dataframe(dataframe):
    try:
        type_df = type(dataframe)
        if not isinstance(dataframe , DataFrame):
            raise TypeError(f"Expected a DataFrame, got {type_df}")
    except Exception as e: 
        print("An error occurred: ", e)
def sel_num_cols(dataframe): 
    lista_columnas_numericas =  []
    tipos_numericos = [LongType().simpleString(), DoubleType().simpleString(), 
        IntegerType().simpleString() , ShortType().simpleString() ,
        FloatType().simpleString() , DecimalType().simpleString()]
    for columnas, dtype in dataframe.dtypes:
        if dtype in tipos_numericos: lista_columnas_numericas.append(columnas)
    
    return lista_columnas_numericas
def df_has_numtype(dataframe):
    try:
        is_dataframe(dataframe)
        tipos_numericos = [LongType().simpleString(), DoubleType().simpleString(), 
        IntegerType().simpleString() , ShortType().simpleString() ,
        FloatType().simpleString() , DecimalType().simpleString()]
        for _ , dtype in dataframe.dtypes: 
            if dtype in tipos_numericos:  return True 
        return False
    except Exception as e:
        print("An error occurred: ", e)
def df_has_null(dataframe): 
    try:    
        is_dataframe(dataframe)
        for col in dataframe.columns:
            if dataframe.filter(isnull(col)).count() > 0 : return (True , col)
        return (False , None)
    except Exception as e: 
        print("An error occurred: ", e)

## Ejemplos de uso
Estos son ejemplos de uso en varios datasets.
Importante mencionar que el dataframe resultante va a tener la cantidad de columnas dependiendo de la cantidad de columnas numéricas que este tenga.

In [11]:
def group_count(dataframe, group_cols):
    """
    Esta función recibe un dataframe de PySpar y una lista de columnas a las que se le hará un conteo,
    se hará el cálculo de la suma y el avg de las columnas numéricas.
    La función devuelve un dataframe con las columnas agregas de conteo, suma y avg de cada columna numerica.
    Parameters:
    dataframe (DataFrame): Dataframe de PySpark que se desea imputar
    group_cols (list): Lista de los nombres de las columnas para agrupar y contar
    Returns:
    DataFrame: Dataframe de PySpark con las nuevas columnas de conteo y cálculos matemáticos.
    """
    try:
        is_dataframe(dataframe)
        lista_columnas_numericas = sel_num_cols(dataframe)
        df_agrupado = dataframe.groupBy(*group_cols).agg(count("*").alias("t_count"))
        lista_expresiones_agregacion = [count("*").alias("t_count")]
        for columnas_numericas in lista_columnas_numericas:
            lista_expresiones_agregacion.append(sum(columnas_numericas).alias('sum_'+columnas_numericas))
            lista_expresiones_agregacion.append(avg(columnas_numericas).alias('avg_'+columnas_numericas))
        df_agrupado = dataframe.groupBy(*group_cols).agg(*lista_expresiones_agregacion)
        df_agrupado.show()
        return df_agrupado
    except Exception as e: 
        print('Ha ocurrido un error al realizar el conteo: ' , e)

In [12]:
lista1 = ['brand' , 'model']
df_conteo1 = group_count(df_cars , lista1)
df_conteo1.show()

+--------+---------------+-------+-------+------------------+---------------+------------------+--------+------------------+-----------------+------------------+
|   brand|          model|t_count|sum__c0|           avg__c0|sum_price (eur)|   avg_price (eur)|sum_year|          avg_year|sum_mileage (kms)| avg_mileage (kms)|
+--------+---------------+-------+-------+------------------+---------------+------------------+--------+------------------+-----------------+------------------+
| Hyundai|            i20|      2|    844|             422.0|          25170|           12585.0|    4037|            2018.5|            70876|           35438.0|
| Citroen|             C4|      5|   2102|             420.4|          42950|            8590.0|   10070|            2014.0|           684234|          136846.8|
|     Kia|           Ceed|     11|   5108| 464.3636363636364|         160990|14635.454545454546|   22204|2018.5454545454545|           628993|57181.181818181816|
| Hyundai|            i30|      6|   1343|223.83333333333334|          88410|           14735.0|   12102|            2017.0|           399143| 66523.83333333333|
|   Dacia|          Logan|      2|    948|             474.0|          16980|            8490.0|    4031|            2015.5|            55340|           27670.0|
|   Dacia|         Dokker|      3|   1656|             552.0|          33560|11186.666666666666|    6052|2017.3333333333333|           148348|49449.333333333336|
|     BMW|             X1|      5|   2109|             421.8|          84900|           16980.0|   10077|            2015.4|           614320|          122864.0|
|  Jaguar|             XF|      1|    544|             544.0|          10990|           10990.0|    2011|            2011.0|           163000|          163000.0|
|    Jeep|       Wrangler|      2|    783|             391.5|          61980|           30990.0|    4019|            2009.5|           245020|          122510.0|
| Citroen|    C4 Aircross|      1|    297|             297.0|          10990|           10990.0|    2012|            2012.0|            97500|           97500.0|
|   Smart|         Fortwo|      2|    751|             375.5|          22980|           11490.0|    4033|            2016.5|           119680|           59840.0|
|  Toyota|           C-HR|      5|   1022|             204.4|          90950|           18190.0|   10088|            2017.6|           400602|           80120.4|
|    Ford|          C-Max|      1|    139|             139.0|          10990|           10990.0|    2015|            2015.0|           120597|          120597.0|
|  Suzuki|         Vitara|      2|    932|             466.0|          32480|           16240.0|    4036|            2018.0|           159097|           79548.5|
|  Jaguar|             XE|      1|    335|             335.0|          22990|           22990.0|    2019|            2019.0|            51080|           51080.0|
|Mercedes| Benz Clase GLE|      1|    458|             458.0|          28990|           28990.0|    2016|            2016.0|           103500|          103500.0|
|    Ford|           Kuga|     11|   4625|420.45454545454544|         166890|15171.818181818182|   22177| 2016.090909090909|           864136| 78557.81818181818|
|    Audi|             Q2|      1|    661|             661.0|          21990|           21990.0|    2017|            2017.0|           106455|          106455.0|
|    Ford|Transit Connect|      1|     35|              35.0|          12490|           12490.0|    2014|            2014.0|           126400|          126400.0|
| Citroen|       Berlingo|      4|   1796|             449.0|          56460|           14115.0|    8066|            2016.5|           382400|           95600.0|
+--------+---------------+-------+-------+------------------+---------------+------------------+--------+------------------+-----------------+------------------+
only showing top 20 rows

+--------+---------------+-------+-------+------------------+---------------+------------------+--------+------------------+-----------------+------------------+
|   brand|          model|t_count|sum__c0|           avg__c0|sum_price (eur)|   avg_price (eur)|sum_year|          avg_year|sum_mileage (kms)| avg_mileage (kms)|
+--------+---------------+-------+-------+------------------+---------------+------------------+--------+------------------+-----------------+------------------+
| Hyundai|            i20|      2|    844|             422.0|          25170|           12585.0|    4037|            2018.5|            70876|           35438.0|
| Citroen|             C4|      5|   2102|             420.4|          42950|            8590.0|   10070|            2014.0|           684234|          136846.8|
|     Kia|           Ceed|     11|   5108| 464.3636363636364|         160990|14635.454545454546|   22204|2018.5454545454545|           628993|57181.181818181816|
| Hyundai|            i30|      6|   1343|223.83333333333334|          88410|           14735.0|   12102|            2017.0|           399143| 66523.83333333333|
|   Dacia|          Logan|      2|    948|             474.0|          16980|            8490.0|    4031|            2015.5|            55340|           27670.0|
|   Dacia|         Dokker|      3|   1656|             552.0|          33560|11186.666666666666|    6052|2017.3333333333333|           148348|49449.333333333336|
|     BMW|             X1|      5|   2109|             421.8|          84900|           16980.0|   10077|            2015.4|           614320|          122864.0|
|  Jaguar|             XF|      1|    544|             544.0|          10990|           10990.0|    2011|            2011.0|           163000|          163000.0|
|    Jeep|       Wrangler|      2|    783|             391.5|          61980|           30990.0|    4019|            2009.5|           245020|          122510.0|
| Citroen|    C4 Aircross|      1|    297|             297.0|          10990|           10990.0|    2012|            2012.0|            97500|           97500.0|
|   Smart|         Fortwo|      2|    751|             375.5|          22980|           11490.0|    4033|            2016.5|           119680|           59840.0|
|  Toyota|           C-HR|      5|   1022|             204.4|          90950|           18190.0|   10088|            2017.6|           400602|           80120.4|
|    Ford|          C-Max|      1|    139|             139.0|          10990|           10990.0|    2015|            2015.0|           120597|          120597.0|
|  Suzuki|         Vitara|      2|    932|             466.0|          32480|           16240.0|    4036|            2018.0|           159097|           79548.5|
|  Jaguar|             XE|      1|    335|             335.0|          22990|           22990.0|    2019|            2019.0|            51080|           51080.0|
|Mercedes| Benz Clase GLE|      1|    458|             458.0|          28990|           28990.0|    2016|            2016.0|           103500|          103500.0|
|    Ford|           Kuga|     11|   4625|420.45454545454544|         166890|15171.818181818182|   22177| 2016.090909090909|           864136| 78557.81818181818|
|    Audi|             Q2|      1|    661|             661.0|          21990|           21990.0|    2017|            2017.0|           106455|          106455.0|
|    Ford|Transit Connect|      1|     35|              35.0|          12490|           12490.0|    2014|            2014.0|           126400|          126400.0|
| Citroen|       Berlingo|      4|   1796|             449.0|          56460|           14115.0|    8066|            2016.5|           382400|           95600.0|
+--------+---------------+-------+-------+------------------+---------------+------------------+--------+------------------+-----------------+------------------+
only showing top 20 rows

In [13]:
lista2 = ['team_name_home' , 'pens_home_score']
df_conteo2 = group_count(df_cop , lista2)
df_conteo2.show()

+----------------+---------------+-------+-------------------+-------------------+-------------------+-------------------+--------------------+--------------------+--------------------+--------------------+------------------------+------------------------+------------------------+------------------------+
|  team_name_home|pens_home_score|t_count|sum_team_home_score|avg_team_home_score|sum_team_away_score|avg_team_away_score|sum_total_shots_home|avg_total_shots_home|sum_total_shots_away|avg_total_shots_away|sum_shots_on_target_home|avg_shots_on_target_home|sum_shots_on_target_away|avg_shots_on_target_away|
+----------------+---------------+-------+-------------------+-------------------+-------------------+-------------------+--------------------+--------------------+--------------------+--------------------+------------------------+------------------------+------------------------+------------------------+
|    Switzerland |          False|      1|                  3|                3.0|                  1|                1.0|                  23|                23.0|                19.0|                19.0|                      10|                    10.0|                     6.0|                     6.0|
|    Switzerland |              1|      1|                  1|                1.0|                  1|                1.0|                   8|                 8.0|                28.0|                28.0|                       2|                     2.0|                    10.0|                    10.0|
|          Italy |              3|      1|                  1|                1.0|                  1|                1.0|                  19|                19.0|                 6.0|                 6.0|                       6|                     6.0|                     2.0|                     2.0|
|    Netherlands |          False|      3|                  5| 1.6666666666666667|                  4| 1.3333333333333333|                  35|  11.666666666666666|                28.0|   9.333333333333334|                      11|      3.6666666666666665|                    11.0|      3.6666666666666665|
|        Finland |          False|      2|                  0|                0.0|                  3|                1.5|                  18|                 9.0|                31.0|                15.5|                       2|                     1.0|                    10.0|                     5.0|
|          Italy |          False|      3|                  6|                2.0|                  1| 0.3333333333333333|                  63|                21.0|                25.0|   8.333333333333334|                      15|                     5.0|                     5.0|      1.6666666666666667|
|          Spain |          False|      2|                  1|                0.5|                  1|                0.5|                  29|                14.5|                 9.0|                 4.5|                      10|                     5.0|                     3.0|                     1.5|
|       Portugal |          False|      2|                  4|                2.0|                  6|                3.0|                  17|                 8.5|                23.0|                11.5|                       7|                     3.5|                    12.0|                     6.0|
|        England |          False|      4|                  5|               1.25|                  1|               0.25|                  42|                10.5|                34.0|                 8.5|                      17|                    4.25|                    10.0|                     2.5|
|        Belgium |          False|      3|                  5| 1.6666666666666667|                  2| 0.6666666666666666|                  25|   8.333333333333334|                42.0|                14.0|                       9|                     3.0|                     8.0|      2.6666666666666665|
| Czech Republic |          False|      2|                  1|                0.5|                  3|                1.5|                  23|                11.5|                16.0|                 8.0|                       6|                     3.0|                    10.0|                     5.0|
|       Slovakia |          False|      1|                  0|                0.0|                  5|                5.0|                   3|                 3.0|                19.0|                19.0|                       0|                     0.0|                     9.0|                     9.0|
|       Scotland |          False|      1|                  0|                0.0|                  2|                2.0|                  19|                19.0|                10.0|                10.0|                       4|                     4.0|                     7.0|                     7.0|
|        Germany |          False|      1|                  2|                2.0|                  2|                2.0|                  18|                18.0|                 9.0|                 9.0|                       7|                     7.0|                     4.0|                     4.0|
|        Denmark |          False|      2|                  1|                0.5|                  3|                1.5|                  43|                21.5|                 7.0|                 3.5|                      11|                     5.5|                     6.0|                     3.0|
|         Turkey |          False|      2|                  0|                0.0|                  5|                2.5|                  21|                10.5|                40.0|                20.0|                       6|                     3.0|                    15.0|                     7.5|
|         Russia |          False|      1|                  1|                1.0|                  4|                4.0|                   6|                 6.0|                16.0|                16.0|                       2|                     2.0|                    10.0|                    10.0|
|         France |              4|      1|                  3|                3.0|                  3|                3.0|                  26|                26.0|                12.0|                12.0|                       8|                     8.0|                     5.0|                     5.0|
|        Ukraine |          False|      3|                  2| 0.6666666666666666|                  6|                2.0|                  29|   9.666666666666666|                41.0|  13.666666666666666|                      11|      3.6666666666666665|                    15.0|                     5.0|
|        Hungary |          False|      2|                  1|                0.5|                  4|                2.0|                  10|                 5.0|                26.0|                13.0|                       6|                     3.0|                    11.0|                     5.5|
+----------------+---------------+-------+-------------------+-------------------+-------------------+-------------------+--------------------+--------------------+--------------------+--------------------+------------------------+------------------------+------------------------+------------------------+
only showing top 20 rows

+----------------+---------------+-------+-------------------+-------------------+-------------------+-------------------+--------------------+--------------------+--------------------+--------------------+------------------------+------------------------+------------------------+------------------------+
|  team_name_home|pens_home_score|t_count|sum_team_home_score|avg_team_home_score|sum_team_away_score|avg_team_away_score|sum_total_shots_home|avg_total_shots_home|sum_total_shots_away|avg_total_shots_away|sum_shots_on_target_home|avg_shots_on_target_home|sum_shots_on_target_away|avg_shots_on_target_away|
+----------------+---------------+-------+-------------------+-------------------+-------------------+-------------------+--------------------+--------------------+--------------------+--------------------+------------------------+------------------------+------------------------+------------------------+
|    Switzerland |          False|      1|                  3|                3.0|                  1|                1.0|                  23|                23.0|                19.0|                19.0|                      10|                    10.0|                     6.0|                     6.0|
|    Switzerland |              1|      1|                  1|                1.0|                  1|                1.0|                   8|                 8.0|                28.0|                28.0|                       2|                     2.0|                    10.0|                    10.0|
|          Italy |              3|      1|                  1|                1.0|                  1|                1.0|                  19|                19.0|                 6.0|                 6.0|                       6|                     6.0|                     2.0|                     2.0|
|    Netherlands |          False|      3|                  5| 1.6666666666666667|                  4| 1.3333333333333333|                  35|  11.666666666666666|                28.0|   9.333333333333334|                      11|      3.6666666666666665|                    11.0|      3.6666666666666665|
|        Finland |          False|      2|                  0|                0.0|                  3|                1.5|                  18|                 9.0|                31.0|                15.5|                       2|                     1.0|                    10.0|                     5.0|
|          Italy |          False|      3|                  6|                2.0|                  1| 0.3333333333333333|                  63|                21.0|                25.0|   8.333333333333334|                      15|                     5.0|                     5.0|      1.6666666666666667|
|          Spain |          False|      2|                  1|                0.5|                  1|                0.5|                  29|                14.5|                 9.0|                 4.5|                      10|                     5.0|                     3.0|                     1.5|
|       Portugal |          False|      2|                  4|                2.0|                  6|                3.0|                  17|                 8.5|                23.0|                11.5|                       7|                     3.5|                    12.0|                     6.0|
|        England |          False|      4|                  5|               1.25|                  1|               0.25|                  42|                10.5|                34.0|                 8.5|                      17|                    4.25|                    10.0|                     2.5|
|        Belgium |          False|      3|                  5| 1.6666666666666667|                  2| 0.6666666666666666|                  25|   8.333333333333334|                42.0|                14.0|                       9|                     3.0|                     8.0|      2.6666666666666665|
| Czech Republic |          False|      2|                  1|                0.5|                  3|                1.5|                  23|                11.5|                16.0|                 8.0|                       6|                     3.0|                    10.0|                     5.0|
|       Slovakia |          False|      1|                  0|                0.0|                  5|                5.0|                   3|                 3.0|                19.0|                19.0|                       0|                     0.0|                     9.0|                     9.0|
|       Scotland |          False|      1|                  0|                0.0|                  2|                2.0|                  19|                19.0|                10.0|                10.0|                       4|                     4.0|                     7.0|                     7.0|
|        Germany |          False|      1|                  2|                2.0|                  2|                2.0|                  18|                18.0|                 9.0|                 9.0|                       7|                     7.0|                     4.0|                     4.0|
|        Denmark |          False|      2|                  1|                0.5|                  3|                1.5|                  43|                21.5|                 7.0|                 3.5|                      11|                     5.5|                     6.0|                     3.0|
|         Turkey |          False|      2|                  0|                0.0|                  5|                2.5|                  21|                10.5|                40.0|                20.0|                       6|                     3.0|                    15.0|                     7.5|
|         Russia |          False|      1|                  1|                1.0|                  4|                4.0|                   6|                 6.0|                16.0|                16.0|                       2|                     2.0|                    10.0|                    10.0|
|         France |              4|      1|                  3|                3.0|                  3|                3.0|                  26|                26.0|                12.0|                12.0|                       8|                     8.0|                     5.0|                     5.0|
|        Ukraine |          False|      3|                  2| 0.6666666666666666|                  6|                2.0|                  29|   9.666666666666666|                41.0|  13.666666666666666|                      11|      3.6666666666666665|                    15.0|                     5.0|
|        Hungary |          False|      2|                  1|                0.5|                  4|                2.0|                  10|                 5.0|                26.0|                13.0|                       6|                     3.0|                    11.0|                     5.5|
+----------------+---------------+-------+-------------------+-------------------+-------------------+-------------------+--------------------+--------------------+--------------------+--------------------+------------------------+------------------------+------------------------+------------------------+
only showing top 20 rows

In [14]:
lista3 = ['Date','WeekDay']
df_conteo3 = group_count(df_dates , lista3)
df_conteo3.show()

+-------------------+---------+-------+---------+---------+-------+-------+--------+--------+
|               Date|  WeekDay|t_count|sum_Month|avg_Month|sum_Day|avg_Day|sum_Year|avg_Year|
+-------------------+---------+-------+---------+---------+-------+-------+--------+--------+
|2016-07-04 00:00:00|   Monday|      1|        7|      7.0|      4|    4.0|    2016|  2016.0|
|2013-12-25 00:00:00|Wednesday|      1|       12|     12.0|     25|   25.0|    2013|  2013.0|
|2013-09-01 00:00:00|   Sunday|      1|        9|      9.0|      1|    1.0|    2013|  2013.0|
|2013-01-01 00:00:00|  Tuesday|      1|        1|      1.0|      1|    1.0|    2013|  2013.0|
|2017-02-20 00:00:00|   Monday|      1|        2|      2.0|     20|   20.0|    2017|  2017.0|
|2004-09-04 00:00:00| Saturday|      1|        9|      9.0|      4|    4.0|    2004|  2004.0|
|2008-11-26 00:00:00|Wednesday|      1|       11|     11.0|     26|   26.0|    2008|  2008.0|
|2007-06-19 00:00:00|  Tuesday|      1|        6|      6.0|     19|   19.0|    2007|  2007.0|
|2005-09-05 00:00:00|   Monday|      1|        9|      9.0|      5|    5.0|    2005|  2005.0|
|2006-07-04 00:00:00|  Tuesday|      1|        7|      7.0|      4|    4.0|    2006|  2006.0|
|2013-10-14 00:00:00|   Monday|      1|       10|     10.0|     14|   14.0|    2013|  2013.0|
|2015-11-25 00:00:00|Wednesday|      1|       11|     11.0|     25|   25.0|    2015|  2015.0|
|2009-02-16 00:00:00|   Monday|      1|        2|      2.0|     16|   16.0|    2009|  2009.0|
|2016-03-27 00:00:00|   Sunday|      1|        3|      3.0|     27|   27.0|    2016|  2016.0|
|2014-10-13 00:00:00|   Monday|      1|       10|     10.0|     13|   13.0|    2014|  2014.0|
|2010-04-04 00:00:00|   Sunday|      2|        8|      4.0|      8|    4.0|    4020|  2010.0|
|2012-01-01 00:00:00|   Sunday|      1|        1|      1.0|      1|    1.0|    2012|  2012.0|
|2008-11-11 00:00:00|  Tuesday|      1|       11|     11.0|     11|   11.0|    2008|  2008.0|
|2014-02-17 00:00:00|   Monday|      1|        2|      2.0|     17|   17.0|    2014|  2014.0|
|2013-06-19 00:00:00|Wednesday|      1|        6|      6.0|     19|   19.0|    2013|  2013.0|
+-------------------+---------+-------+---------+---------+-------+-------+--------+--------+
only showing top 20 rows

+-------------------+---------+-------+---------+---------+-------+-------+--------+--------+
|               Date|  WeekDay|t_count|sum_Month|avg_Month|sum_Day|avg_Day|sum_Year|avg_Year|
+-------------------+---------+-------+---------+---------+-------+-------+--------+--------+
|2016-07-04 00:00:00|   Monday|      1|        7|      7.0|      4|    4.0|    2016|  2016.0|
|2013-12-25 00:00:00|Wednesday|      1|       12|     12.0|     25|   25.0|    2013|  2013.0|
|2013-09-01 00:00:00|   Sunday|      1|        9|      9.0|      1|    1.0|    2013|  2013.0|
|2013-01-01 00:00:00|  Tuesday|      1|        1|      1.0|      1|    1.0|    2013|  2013.0|
|2017-02-20 00:00:00|   Monday|      1|        2|      2.0|     20|   20.0|    2017|  2017.0|
|2004-09-04 00:00:00| Saturday|      1|        9|      9.0|      4|    4.0|    2004|  2004.0|
|2008-11-26 00:00:00|Wednesday|      1|       11|     11.0|     26|   26.0|    2008|  2008.0|
|2007-06-19 00:00:00|  Tuesday|      1|        6|      6.0|     19|   19.0|    2007|  2007.0|
|2005-09-05 00:00:00|   Monday|      1|        9|      9.0|      5|    5.0|    2005|  2005.0|
|2006-07-04 00:00:00|  Tuesday|      1|        7|      7.0|      4|    4.0|    2006|  2006.0|
|2013-10-14 00:00:00|   Monday|      1|       10|     10.0|     14|   14.0|    2013|  2013.0|
|2015-11-25 00:00:00|Wednesday|      1|       11|     11.0|     25|   25.0|    2015|  2015.0|
|2009-02-16 00:00:00|   Monday|      1|        2|      2.0|     16|   16.0|    2009|  2009.0|
|2016-03-27 00:00:00|   Sunday|      1|        3|      3.0|     27|   27.0|    2016|  2016.0|
|2014-10-13 00:00:00|   Monday|      1|       10|     10.0|     13|   13.0|    2014|  2014.0|
|2010-04-04 00:00:00|   Sunday|      2|        8|      4.0|      8|    4.0|    4020|  2010.0|
|2012-01-01 00:00:00|   Sunday|      1|        1|      1.0|      1|    1.0|    2012|  2012.0|
|2008-11-11 00:00:00|  Tuesday|      1|       11|     11.0|     11|   11.0|    2008|  2008.0|
|2014-02-17 00:00:00|   Monday|      1|        2|      2.0|     17|   17.0|    2014|  2014.0|
|2013-06-19 00:00:00|Wednesday|      1|        6|      6.0|     19|   19.0|    2013|  2013.0|
+-------------------+---------+-------+---------+---------+-------+-------+--------+--------+
only showing top 20 rows

In [15]:
lista4 = ['Country','Active']
df_conteo4 = group_count(df_airlines, lista4)
df_conteo4.show()

+--------------------+------+-------+--------------+------------------+
|             Country|Active|t_count|sum_Airline ID|    avg_Airline ID|
+--------------------+------+-------+--------------+------------------+
|               Kenya|     Y|      4|         31884|            7971.0|
|         New Zealand|     Y|      4|         18188|            4547.0|
|             ASTORIA|     N|      1|           356|             356.0|
|            Suriname|     N|      5|         15489|            3097.8|
|             Ecuador|     Y|      7|         23823| 3403.285714285714|
|                ACOM|     N|      1|          4456|            4456.0|
|Netherlands Antilles|     N|      4|         23963|           5990.75|
|           Venezuela|     Y|      4|         27058|            6764.5|
|            Thailand|     N|     33|        131639| 3989.060606060606|
|  ATLANTIC NICARAGUA|     N|      1|           592|             592.0|
|              Uganda|     N|     21|         56886|2708.8571428571427|
|                S.A.|     Y|      1|           411|             411.0|
|              Canada|     Y|     37|        295420| 7984.324324324324|
|          Mauritania|     N|     32|        100684|          3146.375|
|               Qatar|     Y|      2|         17088|            8544.0|
|         APPALACHIAN|     N|      1|           390|             390.0|
|             Armenia|     Y|      2|          2264|            1132.0|
|               Aruba|     Y|      2|         25996|           12998.0|
|            Kiribati|     Y|      1|           263|             263.0|
|                AUSA|     N|      1|           513|             513.0|
+--------------------+------+-------+--------------+------------------+
only showing top 20 rows

+--------------------+------+-------+--------------+------------------+
|             Country|Active|t_count|sum_Airline ID|    avg_Airline ID|
+--------------------+------+-------+--------------+------------------+
|               Kenya|     Y|      4|         31884|            7971.0|
|         New Zealand|     Y|      4|         18188|            4547.0|
|             ASTORIA|     N|      1|           356|             356.0|
|            Suriname|     N|      5|         15489|            3097.8|
|             Ecuador|     Y|      7|         23823| 3403.285714285714|
|                ACOM|     N|      1|          4456|            4456.0|
|Netherlands Antilles|     N|      4|         23963|           5990.75|
|           Venezuela|     Y|      4|         27058|            6764.5|
|            Thailand|     N|     33|        131639| 3989.060606060606|
|  ATLANTIC NICARAGUA|     N|      1|           592|             592.0|
|              Uganda|     N|     21|         56886|2708.8571428571427|
|                S.A.|     Y|      1|           411|             411.0|
|              Canada|     Y|     37|        295420| 7984.324324324324|
|          Mauritania|     N|     32|        100684|          3146.375|
|               Qatar|     Y|      2|         17088|            8544.0|
|         APPALACHIAN|     N|      1|           390|             390.0|
|             Armenia|     Y|      2|          2264|            1132.0|
|               Aruba|     Y|      2|         25996|           12998.0|
|            Kiribati|     Y|      1|           263|             263.0|
|                AUSA|     N|      1|           513|             513.0|
+--------------------+------+-------+--------------+------------------+
only showing top 20 rows

In [16]:
lista5 = ['county_FIPS','state']
df_conteo5 = group_count(df_countries, lista5)
df_conteo5.show()

+-----------+-----+-------+---------------+---------------+-----------------------------------+-----------------------------------+-----------------------------------+-----------------------------------+-----------------------------------+-----------------------------------+--------------------------------------+--------------------------------------+-------------------------------------+-------------------------------------+-----------------------------------------+-----------------------------------------+----------------------------------------+----------------------------------------+
|county_FIPS|state|t_count|sum_county_FIPS|avg_county_FIPS|sum_per_capita_personal_income_2019|avg_per_capita_personal_income_2019|sum_per_capita_personal_income_2020|avg_per_capita_personal_income_2020|sum_per_capita_personal_income_2021|avg_per_capita_personal_income_2021|sum_associate_degree_numbers_2016_2020|avg_associate_degree_numbers_2016_2020|sum_bachelor_degree_numbers_2016_2020|avg_bachelor_degree_numbers_2016_2020|sum_associate_degree_percentage_2016_2020|avg_associate_degree_percentage_2016_2020|sum_bachelor_degree_percentage_2015_2019|avg_bachelor_degree_percentage_2015_2019|
+-----------+-----+-------+---------------+---------------+-----------------------------------+-----------------------------------+-----------------------------------+-----------------------------------+-----------------------------------+-----------------------------------+--------------------------------------+--------------------------------------+-------------------------------------+-------------------------------------+-----------------------------------------+-----------------------------------------+----------------------------------------+----------------------------------------+
|      42017|   PA|      1|          42017|        42017.0|                              75056|                            75056.0|                              79239|                            79239.0|                              83011|                            83011.0|                                108307|                              108307.0|                               190042|                             190042.0|                                    24.07|                                    24.07|                                   42.23|                                   42.23|
|      55125|   WI|      1|          55125|        55125.0|                              53083|                            53083.0|                              53617|                            53617.0|                              56041|                            56041.0|                                  6155|                                6155.0|                                 4789|                               4789.0|                                    35.66|                                    35.66|                                   27.75|                                   27.75|
|       8103|   CO|      1|           8103|         8103.0|                              47144|                            47144.0|                              50197|                            50197.0|                              54745|                            54745.0|                                  1553|                                1553.0|                                 1064|                               1064.0|                                    36.18|                                    36.18|                                   24.79|                                   24.79|
|      27157|   MN|      1|          27157|        27157.0|                              50078|                            50078.0|                              55622|                            55622.0|                              58382|                            58382.0|                                  5672|                                5672.0|                                 3785|                               3785.0|                                    36.54|                                    36.54|                                   24.38|                                   24.38|
|      27167|   MN|      1|          27167|        27167.0|                              48502|                            48502.0|                              58334|                            58334.0|                              65570|                            65570.0|                                  1753|                                1753.0|                                 1054|                               1054.0|                                    39.35|                                    39.35|                                   23.66|                                   23.66|
|      39151|   OH|      1|          39151|        39151.0|                              45901|                            45901.0|                              49197|                            49197.0|                              52426|                            52426.0|                                 79378|                               79378.0|                                61112|                              61112.0|                                    30.52|                                    30.52|                                    23.5|                                    23.5|
|      13157|   GA|      1|          13157|        13157.0|                              43894|                            43894.0|                              45903|                            45903.0|                              49063|                            49063.0|                                 14190|                               14190.0|                                11178|                              11178.0|                                    29.78|                                    29.78|                                   23.46|                                   23.46|
|      30061|   MT|      1|          30061|        30061.0|                              40374|                            40374.0|                              44492|                            44492.0|                              45966|                            45966.0|                                  1126|                                1126.0|                                  726|                                726.0|                                    34.04|                                    34.04|                                   21.95|                                   21.95|
|      56037|   WY|      1|          56037|        56037.0|                              56619|                            56619.0|                              55188|                            55188.0|                              56934|                            56934.0|                                 11034|                               11034.0|                                 5989|                               5989.0|                                    39.08|                                    39.08|                                   21.21|                                   21.21|
|      39155|   OH|      1|          39155|        39155.0|                              40338|                            40338.0|                              43700|                            43700.0|                              46356|                            46356.0|                                 37501|                               37501.0|                                27419|                              27419.0|                                    26.23|                                    26.23|                                   19.18|                                   19.18|
|      47041|   TN|      1|          47041|        47041.0|                              41954|                            41954.0|                              44606|                            44606.0|                              47634|                            47634.0|                                  3205|                                3205.0|                                 2716|                               2716.0|                                    22.34|                                    22.34|                                   18.93|                                   18.93|
|      17123|   IL|      1|          17123|        17123.0|                              44084|                            44084.0|                              49305|                            49305.0|                              54239|                            54239.0|                                  3018|                                3018.0|                                 1524|                               1524.0|                                    36.02|                                    36.02|                                   18.19|                                   18.19|
|      28003|   MS|      1|          28003|        28003.0|                              38576|                            38576.0|                              41396|                            41396.0|                              44255|                            44255.0|                                  7917|                                7917.0|                                 4562|                               4562.0|                                    31.01|                                    31.01|                                   17.87|                                   17.87|
|      39069|   OH|      1|          39069|        39069.0|                              44961|                            44961.0|                              49383|                            49383.0|                              52568|                            52568.0|                                  5990|                                5990.0|                                 3301|                               3301.0|                                    31.99|                                    31.99|                                   17.63|                                   17.63|
|      28137|   MS|      1|          28137|        28137.0|                              38141|                            38141.0|                              41180|                            41180.0|                              44749|                            44749.0|                                  6599|                                6599.0|                                 3214|                               3214.0|                                    35.36|                                    35.36|                                   17.22|                                   17.22|
|      28007|   MS|      1|          28007|        28007.0|                              35013|                            35013.0|                              39450|                            39450.0|                              42044|                            42044.0|                                  3914|                                3914.0|                                 1835|                               1835.0|                                     32.4|                                     32.4|                                   15.19|                                   15.19|
|       6021|   CA|      1|           6021|         6021.0|                              43581|                            43581.0|                              49454|                            49454.0|                              50626|                            50626.0|                                  5877|                                5877.0|                                 2610|                               2610.0|                                    32.53|                                    32.53|                                   14.45|                                   14.45|
|       1093|   AL|      1|           1093|         1093.0|                              33714|                            33714.0|                              36927|                            36927.0|                              40939|                            40939.0|                                  7084|                                7084.0|                                 2842|                               2842.0|                                    33.26|                                    33.26|                                   13.34|                                   13.34|
|      37125|   NC|      1|          37125|        37125.0|                              54737|                            54737.0|                              57819|                            57819.0|                              60775|                            60775.0|                                 22987|                               22987.0|                                27871|                              27871.0|                                    31.94|                                    31.94|                                   38.72|                                   38.72|
|       9011|   CT|      1|           9011|         9011.0|                              58362|                            58362.0|                              61222|                            61222.0|                              63877|                            63877.0|                                 56375|                               56375.0|                                64656|                              64656.0|                                    29.97|                                    29.97|                                   34.38|                                   34.38|
+-----------+-----+-------+---------------+---------------+-----------------------------------+-----------------------------------+-----------------------------------+-----------------------------------+-----------------------------------+-----------------------------------+--------------------------------------+--------------------------------------+-------------------------------------+-------------------------------------+-----------------------------------------+-----------------------------------------+----------------------------------------+----------------------------------------+
only showing top 20 rows

+-----------+-----+-------+---------------+---------------+-----------------------------------+-----------------------------------+-----------------------------------+-----------------------------------+-----------------------------------+-----------------------------------+--------------------------------------+--------------------------------------+-------------------------------------+-------------------------------------+-----------------------------------------+-----------------------------------------+----------------------------------------+----------------------------------------+
|county_FIPS|state|t_count|sum_county_FIPS|avg_county_FIPS|sum_per_capita_personal_income_2019|avg_per_capita_personal_income_2019|sum_per_capita_personal_income_2020|avg_per_capita_personal_income_2020|sum_per_capita_personal_income_2021|avg_per_capita_personal_income_2021|sum_associate_degree_numbers_2016_2020|avg_associate_degree_numbers_2016_2020|sum_bachelor_degree_numbers_2016_2020|avg_bachelor_degree_numbers_2016_2020|sum_associate_degree_percentage_2016_2020|avg_associate_degree_percentage_2016_2020|sum_bachelor_degree_percentage_2015_2019|avg_bachelor_degree_percentage_2015_2019|
+-----------+-----+-------+---------------+---------------+-----------------------------------+-----------------------------------+-----------------------------------+-----------------------------------+-----------------------------------+-----------------------------------+--------------------------------------+--------------------------------------+-------------------------------------+-------------------------------------+-----------------------------------------+-----------------------------------------+----------------------------------------+----------------------------------------+
|      42017|   PA|      1|          42017|        42017.0|                              75056|                            75056.0|                              79239|                            79239.0|                              83011|                            83011.0|                                108307|                              108307.0|                               190042|                             190042.0|                                    24.07|                                    24.07|                                   42.23|                                   42.23|
|      55125|   WI|      1|          55125|        55125.0|                              53083|                            53083.0|                              53617|                            53617.0|                              56041|                            56041.0|                                  6155|                                6155.0|                                 4789|                               4789.0|                                    35.66|                                    35.66|                                   27.75|                                   27.75|
|       8103|   CO|      1|           8103|         8103.0|                              47144|                            47144.0|                              50197|                            50197.0|                              54745|                            54745.0|                                  1553|                                1553.0|                                 1064|                               1064.0|                                    36.18|                                    36.18|                                   24.79|                                   24.79|
|      27157|   MN|      1|          27157|        27157.0|                              50078|                            50078.0|                              55622|                            55622.0|                              58382|                            58382.0|                                  5672|                                5672.0|                                 3785|                               3785.0|                                    36.54|                                    36.54|                                   24.38|                                   24.38|
|      27167|   MN|      1|          27167|        27167.0|                              48502|                            48502.0|                              58334|                            58334.0|                              65570|                            65570.0|                                  1753|                                1753.0|                                 1054|                               1054.0|                                    39.35|                                    39.35|                                   23.66|                                   23.66|
|      39151|   OH|      1|          39151|        39151.0|                              45901|                            45901.0|                              49197|                            49197.0|                              52426|                            52426.0|                                 79378|                               79378.0|                                61112|                              61112.0|                                    30.52|                                    30.52|                                    23.5|                                    23.5|